*.suo
*.suo
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/bin/Debug/DigitaltTestVerktygGrupp6Student.exe.config
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/bin/Debug/DigitaltTestVerktygGrupp6Student.vshost.exe.config
*.cache
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/obj/Debug/DigitaltTestVerktygGrupp6Student_MarkupCompile.i.lref
*.cache
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/obj/Debug/View/Quiz.g.i.cs
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/obj/Debug/View/QuizSelection.g.i.cs
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/obj/Debug/View/Results.g.i.cs
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Wpf/obj/Debug/DigitaltTestVerktygGrupp6Wpf.csproj.FileListAbsolute.txt
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Wpf/obj/
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Wpf/bin/
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/bin/
DigitaltTestVerktygGrupp6/DigitaltTestVerktygGrupp6Student/obj/
*.cache
*.suo